* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "dm sans", Sans-serif;
}
/* Primary Colors
 */

.hero-section {
  background: url("./assets/hero-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7rem 1rem 7rem;
  position: fixed;
  width: 100%;

  /* top: 0; */
}
.top-nav-bg {
  background-color: #222831;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.logo {
  height: 60px;
}
.nav-item {
  border: 1px solid #395b64;
  color: #eeeeee;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}
.nav-option-icon {
  display: none;
}
.nav-item:hover,
.nav-item:active {
  background-color: #222831;
  color: #00adb5;

  border-radius: 20px;
  cursor: pointer;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14rem 7rem 2rem 7rem;
}
.hero-img {
  height: 55vh;
}
.hero-text {
  color: #eeeeee;
  font-family: "dm sans", Sans-serif;
}
.hero-title {
  font-size: 3.6rem;
  /* font-family: "Varela Round", sans-serif; */
  font-weight: 500;
  line-height: 1;
}

.hero-description {
  margin-top: 1rem;
  letter-spacing: 2px;
  font-size: 18px;
}
.hero-btn-group {
  display: flex;
  gap: 10px;
}
.hero-btn {
  padding: 15px 30px;
  background-color: #eeeeee00;
  border: 3px solid #395b64;
  color: #eeeeee;
  border-radius: 50px;
  margin-top: 1.5rem;
}
.hero-btn:hover,
.hero-btn:active {
  background-color: #222831;
  color: #00adb5;
  cursor: pointer;
}
.wrk-btn {
  background-color: #222831;
  color: #00adb5;
  cursor: pointer;
}
.resume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.download-icon {
  height: 15px;
  width: auto;
  color: #eeeeee;
}

@media only screen and (max-width: 920px) {
  .top-nav {
    padding: 0.3rem 3rem 0.3rem 3rem;
  }
  .nav-list {
    display: none;
  }
  .nav-option-icon {
    display: block;
  }
  .nav-option-icon img {
    height: 2.5rem;
    width: auto;
    cursor: pointer;
  }
  .hero-img {
    display: none;
  }
  .hero-title {
    font-size: 3rem;
    line-height: 1;
  }
  .hero-btn {
    padding: 12px 24px;
  }
}

@media only screen and (max-width: 600px) {
  .top-nav {
    padding: 0.3rem 3rem 0.3rem 3rem;
  }
  .nav-list {
    display: none;
  }
  .nav-option-icon {
    display: block;
  }
  .nav-option-icon img {
    height: 2.2rem;
    width: auto;
    cursor: pointer;
  }
  .hero-title {
    font-size: 2rem;
    line-height: 0.9;
  }
  .hero-btn {
    padding: 8px 16px;
  }

  .hero {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 8rem 7rem 2rem 7rem;
  }
  .hero-img {
    display: block;
    height: 30vh;
    width: auto;
    grid-row: 1;
  }
  .hero-description {
  }
}

/* Tools Section */
.tool-container {
  background: linear-gradient(
    90deg,
    rgba(44, 51, 51, 0.479) 26%,
    rgba(57, 91, 100, 1) 57%
  );
  height: 10rem;
  text-align: center;
}
.tool-test {
  padding: 0.5rem;
  font-size: 1.6rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
}

.tool-img {
  height: 5rem;
  width: auto;
}

@media only screen and (max-width: 600px) {
  .tool-container {
    height: 6rem;
    text-align: center;
  }
  .tool-test {
    padding: 0.2rem;
    font-size: 1rem;
    /* font-family: "Varela Round", sans-serif; */
    font-weight: 600;
  }

  .tool-img {
    height: 2.5rem;
    width: auto;
  }
}

/* Service- Section */

.our-services {
  background: url("./service-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.service-head {
  text-align: center;
  color: #393e46;
  padding: 3rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
  line-height: 0.9;
}
.card-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
}

@media only screen and (max-width: 1000px) {
  .card-group {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 2rem;
  }
  .service-head {
    font-size: 2rem;
    margin-bottom: 0;
    font-weight: 500;
    padding: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .card-group {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
  }
  .service-head {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1.5rem;
  }
}

.service-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 12px rgb(0 0 0 / 40%);
  border: none;
  background: #ffffff;
  border-radius: 10px;
  padding: 25px 15px;
  max-width: 300px !important;
  margin: 0 auto;
}

.img-1 {
  max-width: 220px;
  margin: 0 auto;
}
.card-head {
  padding: 1.6rem;
  font-size: 1rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
}
.card-text {
  font-size: 1rem;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
}
.card-btn {
  margin-top: 1rem;
  text-align: center;
  border: 1px solid #395b64;
  color: #eeeeee;
  background-color: #393e46;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}
.card-btn:hover,
.card-btn:active {
  background-color: #222831;
  color: #00adb5;

  border-radius: 20px;
}

.about-me-container {
  background: url("./assets/bg-aboutme.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-me-head {
  font-size: 1.6rem;
  font-family: "Varela Round", sans-serif;
  padding-bottom: 50px;
  font-weight: 500;
}
.about-me-card {
  border-radius: 10px;
  max-width: 900px;
  box-shadow: 0 0 15px rgb(0 0 0 / 30%);
  padding: 30px 30px 30px 30px;
  background: #ffffff;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.my-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-image-p {
  max-width: 400px;
}
.my-description {
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: "dm sans", Sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 500;
}
@media only screen and (max-width: 600px) {
  .about-me-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 380px;
  }
  .my-description {
    /* grid-column: 1/-1; */
  }
  .my-image-p {
    max-width: 250px;

    /* grid-row: -1/2; */
  }
}

.contact-container {
  background: url("./assets/contactus.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.footer {
  letter-spacing: 2px;
  font-size: 18px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #eeeeee, #393e46);
}
.footer-text {
  text-align: center;
  letter-spacing: 1px;
}

.slick-next {
  display: none !important;
}

.project-section {
  height: fit-content;
}

.project-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.thankyou-page {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
