* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Primary Colors
 */

.hero-section {
  background: url("./Hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 7rem 2rem 7rem;
  position: fixed;
  width: 100%;
  /* top: 0; */
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.logo {
  height: 60px;
}
.nav-item {
  border: 1px solid #395b64;
  color: #eeeeee;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}
.nav-icon {
  display: none;
}
@media only screen and (max-width: 600px) {
  .top-nav {
    padding: 1rem 4rem 1rem 4rem;
  }
  .nav-list {
    display: none;
  }
  .nav-icon {
    display: block;
  }
  .nav-icon img {
    height: 2.2rem;
    width: auto;
    cursor: pointer;
  }
}

@media only screen and (max-width: 920px) {
  .top-nav {
    padding: 1rem 4rem 1rem 4rem;
  }
  .nav-list {
    display: none;
  }
  .nav-icon {
    display: block;
  }
  .nav-icon img {
    height: 2.5rem;
    width: auto;
    cursor: pointer;
  }
}

.nav-item:hover,
.nav-item:active {
  background-color: #222831;
  color: #00adb5;

  border-radius: 20px;
  cursor: pointer;
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14rem 7rem 2rem 7rem;
}
.hero-img {
  height: 55vh;
}
.hero-text {
  color: #00adb5;
}
.hero-title {
  font-size: 3.6rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
  line-height: 0.9;
}
.hero-btn {
  padding: 15px 30px;
  background-color: #eeeeee00;
  border: 3px solid #395b64;
  color: #eeeeee;
  border-radius: 50px;
  margin-top: 1.5rem;
}
.hero-btn:hover,
.hero-btn:active {
  background-color: #222831;
  color: #00adb5;
  cursor: pointer;
}

.our-services {
  background: url("./service-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.service-head {
  text-align: center;
  color: #393e46;
  padding: 3rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
  line-height: 0.9;
}
.card-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
}

@media only screen and (max-width: 1000px) {
  .card-group {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .card-group {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
  }
}

.service-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 12px rgb(0 0 0 / 40%);
  border: none;
  background: #ffffff;
  border-radius: 10px;
  padding: 25px 15px;
  max-width: 300px !important;
  margin: 0 auto;
}

.img-1 {
  max-width: 220px;
  margin: 0 auto;
}
.card-head {
  padding: 1.6rem;
  font-size: 1rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
}
.card-text {
  font-size: 1rem;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
}
.card-btn {
  margin-top: 1rem;
  text-align: center;
  border: 1px solid #395b64;
  color: #eeeeee;
  background-color: #393e46;
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}
.card-btn:hover,
.card-btn:active {
  background-color: #222831;
  color: #00adb5;

  border-radius: 20px;
}

.tool-container {
  background: linear-gradient(
    90deg,
    rgba(57, 91, 100, 1) 26%,
    rgba(44, 51, 51, 0.479) 57%
  );
  height: 10rem;
  text-align: center;
}
.tool-test {
  padding: 0.5rem;
  font-size: 1.6rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
}

.tool-img {
  height: 5rem;
  width: auto;
}
