* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "dm sans", Sans-serif;
}
/* Primary Colors
 */

ul {
  margin-bottom: 0;
}

.hero-section {
  background: url("./assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7rem 1rem 7rem;
  position: fixed;
  width: 100%;
  z-index: 1;
  /* top: 0; */
}
.top-nav-bg {
  background-color: #eeeeee;
  transition: ease-in-out 500ms;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

li a,
li a:visited {
  text-decoration: none;
  color: #eeeeee;
}

.nav-list-hidden {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  width: max-content;
  padding-left: 0;
  margin: auto;
}

.logo {
  height: 60px;
}
.nav-item {
  color: #eeeeee;
  background: linear-gradient(to right, #533483, #e94560);
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}
.nav-option-icon {
  display: none;
}
.nav-item:hover,
.nav-item:active {
  background: linear-gradient(to right, #e94560, #533483);
  color: #00adb5;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transition: ease-in-out;
  animation: blink 2000ms;
  border-radius: 20px;
  cursor: pointer;
}

@keyframes blink {
  0% {
    background-color: #e94560;
  }
}
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14rem 7rem 2rem 7rem;
}
.hero-img {
  height: 55vh;
  /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
  transform: translatey(0px);
  z-index: 0;
  animation: float 4s ease-in-out infinite;
}
@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(10px);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: translatey(-30px);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(10px);
  }
}

.hero-text {
  color: #eeeeee;
  font-family: "dm sans", Sans-serif;
}
.hero-title {
  font-size: 3.6rem;
  /* font-family: "Varela Round", sans-serif; */
  font-weight: 500;
  line-height: 1;
}

.hero-description {
  margin-top: 1rem;
  letter-spacing: 2px;
  font-size: 18px;
}
.hero-btn-group {
  display: flex;
  gap: 10px;
}
.hero-btn {
  padding: 15px 30px;
  background: linear-gradient(to right, #533483, #e94560);
  /* border: 3px solid #395b64; */
  border: none;
  color: #eeeeee;
  border-radius: 50px;
  margin-top: 1.5rem;
}

button a {
  text-decoration: none;
  color: #eeeeee;
}
.hero-btn:hover,
.hero-btn:active {
  background: linear-gradient(to right, #e94560, #533483);
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.wrk-btn {
  cursor: pointer;
}
.resume {
  background: none;
  border: 1px solid #533483;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.hero-btn a,
.hero-btn a:active,
.hero-btn a:hover {
  text-decoration: none;
  color: #eeeeee;
}

.download-icon {
  height: 15px;
  width: auto;
  color: #eeeeee;
}

@media only screen and (max-width: 920px) {
  .top-nav {
    padding: 0.3rem 3rem 0.3rem 3rem;
  }
  .nav-list {
    display: none;
  }
  .nav-option-icon {
    display: block;
  }
  .nav-option-icon img {
    height: 2.5rem;
    width: auto;
    cursor: pointer;
  }
  .hero-img {
    display: none;
  }
  .hero-title {
    font-size: 3rem;
    line-height: 1;
  }
  .hero-btn {
    padding: 12px 24px;
  }
}

@media only screen and (max-width: 600px) {
  .top-nav {
    padding: 0.3rem 3rem 0.3rem 3rem;
  }
  .nav-list {
    display: none;
  }
  .nav-option-icon {
    display: block;
  }
  .nav-option-icon img {
    height: 2.2rem;
    width: auto;
    cursor: pointer;
  }
  .nav-option {
    filter: invert(1);
  }
  .hero-title {
    font-size: 2rem;
    line-height: 0.9;
  }
  .hero-btn {
    padding: 8px 16px;
  }

  .hero {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 8rem 7rem 2rem 7rem;
  }
  .hero-img {
    display: block;
    height: 30vh;
    width: auto;
    grid-row: 1;
  }
}

/* Tools Section */
.tool-container {
  /* background: linear-gradient(to right, #e94560e8, #543483e1); */
  height: 10rem;
  text-align: center;
}
.tool-test {
  padding: 0.5rem;
  font-size: 1.6rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
}

.tool-img {
  height: 5rem;
  width: auto;
}

@media only screen and (max-width: 600px) {
  .tool-container {
    height: 6rem;
    text-align: center;
  }
  .tool-test {
    padding: 0.2rem;
    font-size: 1rem;
    /* font-family: "Varela Round", sans-serif; */
    font-weight: 600;
  }

  .tool-img {
    height: 2.5rem;
    width: auto;
  }
}

/* Service- Section */

.our-services {
  background: url("./assets/service-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}
.service-head {
  text-align: center;
  color: #393e46;
  padding: 3rem;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
  line-height: 0.9;
}
.card-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
}

@media only screen and (max-width: 1000px) {
  .card-group {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    padding: 2rem;
  }
  .service-head {
    font-size: 2rem;
    margin-bottom: 0;
    font-weight: 500;
    padding: 2rem;
  }
}
@media only screen and (max-width: 600px) {
  .card-group {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
  }
  .service-head {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1.5rem;
  }
}

.service-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 12px rgb(0 0 0 / 40%);
  border: none;
  background: #ffffff;
  border-radius: 10px;
  padding: 25px 15px;
  max-width: 300px !important;
  margin: 0 auto;
}

.img-1 {
  max-width: 220px;
  margin: 0 auto;
}
.card-head {
  padding: 1.6rem;
  font-size: 1rem;
  font-family: "Varela Round", sans-serif;
  font-weight: 600;
}
.card-text {
  font-size: 1rem;
  text-align: center;
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
}
.card-btn {
  margin-top: 1rem;
  text-align: center;
  border: none;
  color: #eeeeee;
  background: linear-gradient(to right, #e94560, #533483);
  padding: 5px 10px;
  border-radius: 20px;
  cursor: pointer;
}
.card-btn:hover,
.card-btn:active {
  background: linear-gradient(to right, #533483, #e94560);

  border-radius: 20px;
}

.about-me-container {
  background: url("./assets/aboutme-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-me-head {
  font-size: 1.6rem;
  font-family: "Varela Round", sans-serif;
  padding-bottom: 50px;
  font-weight: 500;
}
.about-me-card {
  border-radius: 10px;
  max-width: 900px;
  box-shadow: 0 0 15px rgb(0 0 0 / 30%);
  padding: 30px 30px 30px 30px;
  background: #ffffff;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.my-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-image-p {
  max-width: 400px;
}
.my-description {
  display: flex;
  align-items: center;
  padding: 10px;
  font-family: "dm sans", Sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.5;
  font-size: 18px;
  font-weight: 500;
}
@media only screen and (max-width: 600px) {
  .about-me-card {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    max-width: 380px;
  }
  .my-description {
    /* grid-column: 1/-1; */
  }
  .my-image-p {
    max-width: 250px;

    /* grid-row: -1/2; */
  }
}

.contact-container {
  background: url("./assets/contactus-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-weight: 500;
  min-height: 100vh;
}
.address {
  color: #eeeeee;
}
.social-links {
  display: flex;
  gap: 20px;
}
.social-icon {
  height: 34px;
  width: auto;
  /* transition: ease-in-out 500ms; */
}
.social-icon:hover {
  transition-delay: 100ms;
  transform: scaleY(1.2);
}

@media only screen and (max-width: 600px) {
  .address {
    color: #e94560;
  }
}

.footer {
  color: #eeeeee;
  letter-spacing: 2px;
  font-size: 18px;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #533483, #e94560);
  min-width: 100%;
}
.footer p {
  margin-bottom: 0;
}
.footer-text {
  text-align: center;
  letter-spacing: 1px;
}

@media only screen and (max-width: 600px) {
  .footer {
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
  }
  .footer-text {
    letter-spacing: 0.2px;
  }
}

/* Slick-Carousel CSS */
.slick-next {
  display: none !important;
}

/* Project Section CSS */
.project-section {
  background: linear-gradient(to right, #533483, #e94560);
  height: fit-content;
}

.project-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.site-link {
  text-decoration: none;
  color: #222831;
}
.cardProject {
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.2);
  transition: ease-in-out;
  width: auto;
}
.cardProject img:hover {
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.8);
}
.thankyou-page {
  height: 90vh;
  background: linear-gradient(to right, #e94560, #533483);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.thankyou-page img {
  height: 50vh;
}
.not-found-container {
  height: 90vh;
}

@media only screen and (max-width: 600px) {
  .not-found-img {
    min-width: 400px;
  }
}

/* SVG THANKYOU */

.trasnition-page {
  background: -moz-linear-gradient(
    45deg,
    /* #02e1ba 0%, */ #533483 29%,
    #d911f2 66%,
    #ffa079 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    /* #02e1ba 0%, */ #533483 29%,
    #d911f2 66%,
    #ffa079 100%
  );
  background: linear-gradient(
    45deg,
    /* #02e1ba 0% */ #533483 29%,
    #d911f2 66%,
    #ffa079 100%
  );
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  min-height: calc(100vh - 2rem);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  overflow: hidden;
  position: relative;
}

.trasnition-page::before,
.trasnition-page::after {
  content: "";
  width: 70vmax;
  height: 70vmax;
  position: absolute;
  background: rgba(255, 255, 255, 0.07);
  left: -20vmin;
  top: -20vmin;
  animation: morph 15s linear infinite alternate, spin 20s linear infinite;
  z-index: 1;
  will-change: border-radius, transform;
  transform-origin: 30% 30%;
  pointer-events: none;
}

.trasnition-page::after {
  width: 70vmin;
  height: 70vmin;
  left: auto;
  right: -10vmin;
  top: auto;
  bottom: 0;
  animation: morph 10s linear infinite alternate,
    spin 26s linear infinite reverse;
  transform-origin: 10% 10%;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  }
  100% {
    border-radius: 40% 60%;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
.st0 {
  display: none;
}
.st1 {
  display: inline;
}
.st2 {
  opacity: 0.29;
}
.st3 {
  fill: #ffffff;
}
.st4 {
  clip-path: url(#SVGID_2_);
  fill: #ffffff;
}
.st5 {
  clip-path: url(#SVGID_4_);
}
.st6 {
  clip-path: url(#SVGID_6_);
}
.st7 {
  clip-path: url(#SVGID_8_);
}
.st8 {
  clip-path: url(#SVGID_10_);
}
.st9 {
  fill: none;
}
.st10 {
  clip-path: url(#SVGID_12_);
}
.st11 {
  opacity: 0.7;
}
.st12 {
  clip-path: url(#SVGID_14_);
}
.st13 {
  opacity: 0.2;
}
.st14 {
  clip-path: url(#SVGID_16_);
}
.st15 {
  opacity: 0.3;
  fill: #ffffff;
  enable-background: new;
}
